[submodule "Shot_Detection"]
	path = Shot_Detection
	url = https://github.com/PhucNguyenLamp/Shot_Detection.git
[submodule "workspace/TransNetV2"]
	path = workspace/TransNetV2
	url = https://github.com/soCzech/TransNetV2.git
[submodule "workspace/Shot_Detection"]
	path = workspace/Shot_Detection
	url = https://github.com/Alton1998/Shot_Detection.git
